@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: #30415D;
    color: #fff;
}

.logo{
    margin-top: -5px;
}
.logo span{
    color: #CF6766;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.menu li{
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
}

.menu .act{
    color: #CF6766;
}

.menu a:hover{
    background-color: #CF6766;
    color: #30415D;
    transition: ease-in 0.5s;
}